{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Posts{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/_base.css' %}">
</head>
<body>
    <div class="navbar">
        <a href="{% url 'post-home' %}">Home</a>
        <a href="{% url 'post-create' %}">Create post</a>
        {% if user.is_authenticated %}
            <form action="{% url 'account_logout' %}" method="post" class="logout-form">
                {% csrf_token %}
                <button type="submit" class="logout-button">Logout</button>
            </form> 
            <a href="{% url 'profile' %}" class="profile-link">
                {% if user.userprofile.avatar %}
                    <img src="{{ user.userprofile.avatar.url }}" alt="Avatar" class="profile-image">
                {% else %}
                    <img src="{% static 'images/default_avatar.jpg' %}" alt="Default Avatar" class="profile-image">
                {% endif %}
            </a>                       
        {% else %}
            <a href="{% url 'account_login' %}">Log In</a>
            <a href="{% url 'account_signup' %}">Sign Up</a>
        {% endif %}
    </div>

    
    <div class="container">
        {% block content%}
        {% endblock %}
    </div>

</body>
</html>