<!-- posts/post_detail.html -->

{% extends '_base.html' %}
{% load static %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'css\post_detail.css' %}">

<div class="page-container">
    <h1>{{ post.title }}</h1>
    <h2><a href="{% url 'profile-detail' pk=post.author.id %}">{{ post.author }}</a></h2>
    <h3>{{ post.body }}</h3>
        {% if post.photo %}
            <img src="{{ post.photo.url }}" alt="Photo" class="post-image">
        {% else %}
            <h1>No image have yet</h1>
        {% endif %}
    <hr>

</div>
<div class="post-comments">
    {% if user.is_authenticated %}
    <div class="comments">
        <h4>Comments ({{ post.comments.count }})</h4>
        {% for comment in post.comments.all %}
            <p>{{ comment.author.username }}: {{ comment.text }}</p>
            <p>Created at: {{ comment.created_at }}</p>
        {% endfor %}
    </div>
    <hr>

    <p>Only users with verified email can add comments!</p>
    {% if email_verified %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add Comment</button>
        </form>
    {% else %}
        <p>Please confirm your email address to add a comment.</p>
    {% endif %}
    
    {% else %}
    <p>You need to log in if you want to see the comments: <a href="{% url 'account_login' %}">Login</a></p>
    {% endif%}
    
</div>
{% endblock %}
