{% extends '_base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<div class="profile-container">
    <h2>User Profile</h2>
    <div class="profile-info">

        {% if user.avatar %}
            <img src="{{ user.avatar.url }}" alt="Avatar" class="profile-image">
        {% else %}
            <img src="{% static 'images/default_avatar.jpg' %}" alt="Default Avatar" class="profile-image">
        {% endif %}

        <p>Username: {{ user.user.username }}</p>
        <p>Bio: {{ user.bio }}</p>
    </div>
</div>
{% endblock %}
