body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 20px auto;
}

.profile-container {
    text-align: center;
}

.profile-info {
    margin-top: 20px;
}

.profile-image {
    border-radius: 50%;
    width: 150px; 
    height: 150px; 
    margin-bottom: 10px;
}
